//Типографика для "текстовых страниц сайта"
.page
	font-size 14px
	p
		margin-bottom 25px
	img.pull-left
		margin 0 18px 18px 0
	h3, 
	.h3
		font-weight bold
		font-size 18px
		line-height 1
		margin-bottom 14px

h5
	font-size 17px
	margin-top 0
	line-height 18px
	font-weight 600
	margin-bottom 15px
	hr + &
		margin-top -4px


table
	margin-bottom 20px
	width 100%
	// table-layout fixed
	th
		border-bottom 1px solid #cfcfcf
		padding 5px 10px 6px
		font-size 14px
		line-height 16px
		font-weight 600
	td
		border 1px solid #f2f2f2
		padding 5px 5px 4px 15px
		font-size 12px
		line-height 14px
	tr ~ tr
		td
			border-top 0
		th
			padding-top 20px
	
	&.__line
		th,
		td
			border-left 0
			border-right 0
		
		td
			&:first-child
				width 30%
		
		th
			&:first-child
				padding-left 0

p
	font-size 14px
	line-height 1.4em
	margin-bottom 1.4em