.go
	&-prev:before,
	&-next:after
		content " "
		display inline-block
		vertical-align middle
		width 4px
		height 8px
	&-prev:before
		background images("icons/grey-prev.png") no-repeat
		margin-right 11px
	&-next:after
		background images("icons/grey-next.png") no-repeat
		margin-left 11px
	&-prev,
	&-next
		&,
		& *
			vertical-align middle
		
.to-compare
	text-decoration none
	&:before
		display inline-block
		vertical-align middle
		margin-right 7px
		content ""
		width 12px
		height 12px
		background images("icons/to-compare.png") no-repeat
	&:hover
		&:before
			background-position 0 -16px
	&.__default
		&:before
			background-position 0 0
	&.__added
		&:before
			background-position 0 -32px
.show-more
	font-size 14px
	line-height 18px
	&:before
		content ''
		display inline-block
		vertical-align top
		size(12px)
		background images('icons/more.png') 0 0 no-repeat
		margin-top 2px
		margin-right 8px
	&:hover
		&:before
			background-position -12px 0

.remove
	&:before
		content ''
		size(8px, 7px)
		background url("../images/icons/grey-close.png")
		display inline-block
		vertical-align middle
		margin-right 5px
	&,
	& *
		vertical-align middle