.bold
	font-weight bold

.italic 
	font-style italic

.decoration 
	text-decoration underline

.uppercase,
.upper
	text-transform uppercase

.lowercase,
.lower
	text-transform lowercase
	
.center
	text-align center
	
.left,
.to-left
	float left
	left 0
	
.right,
.to-right
	float right
	right 0

.align-right
	text-align: right
.align-center
	text-align: center
.align-left
	text-align: left
.nowrap
	white-space nowrap

